<!-- partial czyli kod który się powtarza -->
<!-- Sprawdzamy czy są błędy --->
<% if @playbook.errors.present? %>
  <div class="alert alert-danger">
    <p>Wystąpiły następujące błędy:</p>
    <ol>
      <% @playbook.errors.full_messages.each do |message| %>
        <li><%= message.titleize %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= form_for @playbook do |f| %>
<div class="form-group">
  <%= f.label :author, "Autor" %>
  <%= f.text_field :author, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :body, "Treść" %>
  <%= f.text_area :body, class: "form-control" %>
</div>
<%= f.submit button_name, class: "btn btn-primary" %>
<% end %>
