<% if @playbook.errors.present? %>
  <div class="alert alert-danger">
    <p>Wystąpiły następujące błędy:</p>
    <ol>
      <% @playbook.errors.full_messages.each do |message| %>
        <li><%= message.titleize %></li>
      <% end %>
    </ol>
  </div>
<% end %>
<%= form_for @playbook do |f| %>
  <div class="form-group">
    <%= f.label :author, "Autor" %>
    <%= f.text_field :author, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Nazwa" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Opis" %>
    <%= f.text_field :body, description: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "RAW URL do gita" %>
    <%= f.text_field :url, class: "form-control", placeholder: "eg. https://raw.githubusercontent.com/Azure-Samples/ansible-playbooks/master/aks_create_scale.yml" %>
  </div>
  <%= f.submit button_name, class: "btn btn-primary" %>
<% end %>