<h3> Lista playbooków </h3>

<p><%= link_to "Dodaj nowy wpis", new_playbook_path, class: "btn btn-success" %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Autor</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @playbooks.each do |playbook| %>
      <tr>
        <td><%= playbook.id %></td>
        <td><%= playbook.author %></td>
        <td><%= playbook.body %></td>
        <td>
          <%= link_to "Pokaż", playbooks_path(playbook), class: "btn btn-default btn-xs" %>
          <%= link_to "Edytuj", edit_playbook_path(playbook), class: "btn btn-primary btn-xs" %>
          <%= link_to "Usuń", confirm_destroy_playbook_path(playbook), class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!---
<!DOCTYPE html>
<html>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Blog</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active" <a href="#">Strona główna</a></li>
        <li <a href="#">O aplikacji</a></li>
        <li <a href="#">Dokumentacja Ansible</a></li>
        <li <a href="#">Podręcznik użytkownika</a></li>
        <li <a href="#">Warunki prywatności</a></li>
        <li <a href="#">Skontaktuj się</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
--->
