<h2 class="form-inline justify-content-center">Informacje o playbooku</h2>
<p class="lead">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Autor</th>
    <th>Nazwa</th>
    <th>Ścieżka</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @playbook.author %></td>
    <td><%= @playbook.name %></td>
    <td><%= @playbook.path %></td>
  </tr>
  </tbody>
</table>
<hr>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h5 class="display-5">Opis</h5>
    <pre>
      <td><%= @playbook.description %></td>
    </pre>
  </div>
  <hr>
  <div class="container">
    <h5 class="display-5">Kod</h5>
    <pre>
      <td><%= @playbook.body %></td>
    </pre>
  </div>
  <hr>
  <p><%= playbook_footer(@playbook) %></p>
</div>
<p><a class="btn btn-secondary" href="<%= playbooks_path %>" role="button">Powrót</a></p>
</div>
