<h3><%= @post.title %></h3>
<p><%= @post.body %></p>
<p><%= post_footer(@post) %></p>
<!-- <p><cite><%= @post.author %>, <%= format_date(@post.created_at)%></cite></p> -->
<p><%= link_to "Wróc do spisu", posts_path %></p>
