<h2>Rejestracja</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :name,
                :label => 'Imię',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
    <%= f.input :surname,
                :label => 'Nazwisko',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "surname" }%>
    <%= f.input :password,
                :label => 'Hasło',
                required: true,
                hint: ("#{@minimum_password_length} znaków jest wymagane" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                :label => 'Potwierdź hasło',
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Rejestracja", :class => "btn btn-primary" %>
  </div>
  <%= render "devise/shared/links" %>

<% end %>
