<% if @host.errors.present? %>
  <div class="alert alert-danger">
    <p>Wystąpiły następujące błędy:</p>
    <ol>
      <% @host.errors.full_messages.each do |message| %>
        <li><%= message.titleize %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= form_for @host do |f| %>
<div class="form-group">
  <%= f.label :hostname, "Hostname" %>
  <%= f.text_field :hostname, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :ip_addr, "Adres IP" %>
  <%= f.text_field :ip_addr, class: "form-control" %>
</div>
  <div class="form-group">
    <%= f.label :description, "Opis" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ssh_port, "Port SSH" %>
    <%= f.number_field :ssh_port, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ssh_user, "Użytkownik SSH" %>
    <%= f.text_field :ssh_user, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ssh_password, "Hasło SSH użytkownika zdalnego" %>
    <%= f.password_field :ssh_password, class: "form-control" %>
  </div>
<%= f.submit button_name, class: "btn btn-primary" %>
<a class="btn btn-secondary " href="<%= hosts_path %>" role="button">Powrót &raquo;</a></p>
<% end %>
