<h3><%= @host.title %></h3>
<p><%= @host.body %></p>
<p><%= host_footer(@host) %></p>
<!-- <p><cite><%= @host.author %>, <%= format_date(@host.created_at)%></cite></p> -->
<p><%= link_to "Wróc do spisu", hosts_path %></p>
