<div class="jumbotron">
<!--  <h2 class="display-4, text-align:center">Wynik testu połączenia</h2> -->
  <h2 class="form-inline justify-content-center">Wynik testu połączenia</h2>
  <p class="lead">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Hostname</th>
      <th>IP</th>
      <th>Port SSH</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @host.hostname.html_safe %></td>
      <td><%= @host.ip_addr %></td>
      <td><%= @host.ssh_port %></td>
    </tr>
    </tbody>
  </table>
  </p>
  <hr class="my-4">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h5 class="display-5">Ping</h5>
      <p class="lead"> </p>
      <pre>
        <%= render file: '/etc/ansible/tmp/ping_'+@host.id.to_s.html_safe %>
      </pre>
      <hr class="my-4">
      <h5 class="display-5">Telnet</h5>
      <pre>
      <%= render file: '/etc/ansible/tmp/telnet_'+@host.id.to_s.html_safe %>
      </pre>
      <p><a class="btn btn-primary" href="<%= hosts_path %>" role="button">Powrót</a></p>
  </div>
</div>
</div>







