<h3> Lista użytkowników </h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Uprawniony do logowania?</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.email %></td>
        <td><%= user.approved ? "tak" : "nie" %></td>
        <td>
          <% if user.id == 1 || user.id == current_user.id  %>
          <%= link_to "Pokaż", user_path(user), class: "btn btn-success btn-xs" %>
          <%= link_to "Edytuj", edit_user_path(user), class: "btn btn-primary btn-xs" %>
          <% else %>
          <%= link_to "Pokaż", user_path(user), class: "btn btn-success btn-xs" %>
          <%= link_to "Edytuj", edit_user_path(user), class: "btn btn-primary btn-xs" %>
          <%= link_to "Usuń", confirm_destroy_user_path(user), class: "btn btn-danger btn-xs" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
