 <h3> Lista użytkowników </h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Ilość poprawnych logowań</th>
      <th>Ostatnie IP</th>
      <th>Błędnych prób logowania</th>
      <th>Data ostatniego logowania</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @user.id %></td>
        <td><%= @user.name %></td>
        <td><%= @user.surname %></td>
        <td><%= @user.email %></td>
        <td><%= @user.sign_in_count %></td>
        <td><%= @user.last_sign_in_ip %></td>
        <td><%= @user.failed_attempts %></td>
        <td><%= @user.last_sign_in_at %></td>
      </tr>
  </tbody>
</table>
<%= link_to "wróć", users_path, class: "btn btn-success btn-xs" %>
