<!DOCTYPE html>
<html>

<head>
  <title>Ansible User Interface</title>
  <%= stylesheet_link_tag 'application', 'https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application', 'https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Ikonka zakładki -->
  <link rel="icon" href="https://docs.ansible.com/ansible/latest/_static/images/logo_invert.png">
</head>

<body>

	<main role="main">
          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Witaj w Ansible User Interface</h1>
              <p>Jest to aplikacja pozwalająca na zarządzanie Ansible przy pomocy przeglądarki. Ansible jest narzędziem obsługiwanym z konsoli które pozwala na wykonywanie działań zdefiniowanych w plikach konfiguracyjnych tzw. "playbookach" na wielu serwerach.</p>
              <p><a class="btn btn-primary btn-lg" href="https://docs.ansible.com/ansible/latest/index.html" role="button">Dowiedz się więcej &raquo;</a></p>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h2>Tablica ogłoszeń</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-6">
                <h2>Historia działań</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
            </div>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="<%= index_path %>" >Strona główna</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
      <!--    <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
      --->
          <li class="nav-item">
            <a class="nav-link" href="<%= about_path %>" >O aplikacji </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= docs_path %>" >Dokumentacja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= howto_path %>" >Jak używać aplikacji</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= privacy_path %>" >Warunki prywatności</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          --->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Playbook</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="<%= new_playbook_path %>">Dodaj playbook</a>
              <a class="dropdown-item" href="<%= edit_playbook_path %>">Edytuj playbook</a>
              <a class="dropdown-item" href="<%= show_playbook_path %>">Zarządzaj playbookami</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Host</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="<%= new_host_path %>">Dodaj host</a>
              <a class="dropdown-item" href="<%= edit_host_path %>">Edytuj host</a>
              <a class="dropdown-item" href="<%= show_host_path %>">Wyświetl hosty</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Szukaj..." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
      </div>
    </nav>

<%= yield %>
<!--
    <footer class="container">
      <p>&copy; Adam Skibiński 2020</p>
    </footer>
--->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>


  </body>


</html>
