<% if @run.errors.present? %>
  <div class="alert alert-danger">
    <p>Wystąpiły następujące błędy:</p>
    <ol>
      <% @run.errors.full_messages.each do |message| %>
        <li><%= message.titleize %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= form_for @run do |f| %>
<div class="form-group">
  <%= f.label :host_id, "Wybierz playbook" %>
  <%= f.collection_select :playbook_id, Playbook.select(:id, :name), :id, :name, {}, {class: "form-control"} %>
</div>
<div class="form-group">
  <%= f.label :host_id, "Wybierz host (możesz wybrać kilka trzymając CTRL)" %>
  <%= f.collection_select :host_id, Host.select(:id, :hostname), :id, :hostname, {:include_hidden => false}, {class: "form-control", multiple: true }%>
</div>
<%= f.submit button_name, class: "btn btn-primary" %>
<% end %>
