<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="<%= index_path %>">Strona główna</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown00" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">O aplikacji</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="<%= about_path %>" >O aplikacji </a>
          <a class="dropdown-item" href="<%= docs_path %>" >Dokumentacja</a>
          <a class="dropdown-item" href="<%= howto_path %>" >Jak używać aplikacji</a>
          <a class="dropdown-item" href="<%= privacy_path %>" >Warunki prywatności</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Playbook</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="<%= new_playbook_path %>">Dodaj playbook</a>
          <a class="dropdown-item" href="<%= playbooks_path %>">Zarządzaj playbookami</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Host</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="<%= new_host_path %>">Dodaj host</a>
          <a class="dropdown-item" href="<%= hosts_path %>">Zarządzaj hostami</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Uruchom</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" href="<%= new_run_path %>">Wykonaj playbooka</a>
          <a class="dropdown-item" href="<%= runs_path %>">Historia uruchomień</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= posts_path %>">Tablica ogłoszeń</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link disabled" href="#"><%= "Witaj " + current_user.name + " " + current_user.surname + " !"%></a>
      </li>
    <div class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> Konto </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a><%=  link_to '<i class="fas fa-cog"></i> Ustawienia'.html_safe, edit_user_registration_path(current_user), class: "dropdown-item" %></a>
              <% if current_user.admin == true %>
              <a><%= link_to '<i class="fas fa-users"></i> Edytuj użytkowników'.html_safe, users_path, class: "dropdown-item" %></a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a>
                <%= link_to '<i class="fas fa-power-off"></i> Wyloguj'.html_safe, destroy_user_session_path, :method => :delete, class: "dropdown-item " %>
                  </a>
            </div>
    </div>
    </ul>
  </div>
</nav>
